<form action="/api/users" method="POST" id="add_user">
    <div class="new_use">
      <!-- Name -->
      <div class="form-group">
        <label for="name" class="text-light">Name</label>
        <input type="hidden" name="id" value="" />
        <input
          type="text"
          name="name"
          value=""
          placeholder="Mark Stoenis"
        />
      </div>
      <!-- Email -->
      <div class="form-group">
        <label for="Email" class="text-light">Email </label>
        <input
          type="text"
          name="email"
          value=""
          placeholder="example@gmail.com"
        />
      </div>
      <!-- Gender -->
      <div class="form-group">
        <label for="gender" class="text-light">Gender</label>
        <div class="radio inline">
          <input type="radio"   id="radio-2" name="gender" value="male" />
          <label for="radio-2" class="radio-label">male</label>
        </div>
        <div class="radio inline">
          <input type="radio"  id="radio-3" name="gender" value="female" />
          <label for="radio-3" class="radio-label">female</label>
        </div>
      </div>
      <!-- status -->
      <div class="form-group">
        <label for="status"  class="text-light">Status</label>
        <div class="radio inline">
          <input type="radio" id="radio-4" name="status" value="Active" />
          <label for="radio-4" class="radio-label">Active</label>
        </div>
        <div class="radio inline">
          <input type="radio"  id="radio-5"  name="status" value="InActive " />
          <label for="radio-5" class="radio-label">InActive</label>
        </div>
      </div>
      <!-- button -->
      <div class="form-group">
        <button type="submit" class="btn text-dark update">save</button>
      </div>
    </div>
  </form>