<!DOCTYPE html>
<html lang="en">
  <head>
    <!--  -->
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Crud Application</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
      integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link rel="stylesheet" href="../assets/css/style.css" />
  </head>
  <body>
    <!-- Header -->
    <header id="header">
      <nav>
        <div class="container">
          <div class="text-center">
            <a class="nav-brand text-dark" href="/">User Management System</a>
          </div>
        </div>
      </nav>
    </header>
    <!-- Header -->

    <!-- Main Site -->
    <main id="site-main">
      <div class="container">
        <div class="box-nav d-flex justify-between">
          <div class="filter">
            <a href="/"><i class="fas fa-angle-double-left"></i> All Users</a>
          </div>
        </div>

        <div class="form-title text-center">
          <h2 class="text-dark">New User</h2>
          <span class="text-light"
            >Use the below from to create a new account</span
          >
        </div>
        <!-- form handling -->
        <form method="POST" id="update_user">
          <div class="new_use">
            <!-- Name -->
            <div class="form-group">
              <label for="name" class="text-light">Name</label>
              <input type="hidden" name="id" value="" />
              <input
                type="text"
                name="name"
                value=""
                placeholder="Mark Stoenis"
              />
            </div>
            <!-- Email -->
            <div class="form-group">
              <label for="Email" class="text-light">Email </label>
              <input
                type="text"
                name="Email"
                value=""
                placeholder="example@gmail.com"
              />
            </div>
            <!-- Gender -->
            <div class="form-group">
              <label for="gender" class="text-light">Gender</label>
              <div class="radio inline">
                <input type="radio"   id="radio-2" name="gender" value="male" />
                <label for="radio-2" class="radio-label">male</label>
              </div>
              <div class="radio inline">
                <input type="radio"  id="radio-3" name="gender" value="female" />
                <label for="radio-3" class="radio-label">female</label>
              </div>
            </div>
            <!-- status -->
            <div class="form-group">
              <label for="status"  class="text-light">Status</label>
              <div class="radio inline">
                <input type="radio" id="radio-4" name="status" value="Active" />
                <label for="radio-4" class="radio-label">Active</label>
              </div>
              <div class="radio inline">
                <input type="radio"  id="radio-5"  name="status" value="InActive " />
                <label for="radio-5" class="radio-label">InActive</label>
              </div>
            </div>
            <!-- button -->
            <div class="form-group">
              <button type="submit" class="btn text-dark update">save</button>
            </div>
          </div>
        </form>
      </div>
    </main>
  </body>
</html>
